/*Load Kollektif font  */
@font-face {
    font-family: "Kollektif";
    src: url('../fonts/Kollektif.ttf')
}
/*load  */
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

p.inc {
  font-family: "Inconsolata", monospace;
}

input[type="checkbox"][id="1"] {
  display: none;
}

input[type="checkbox"][id="2"] {
  display: none;
}

input[type="checkbox"][id="3"] {
  display: none;
}
div.layout-admin {
  margin-bottom: 15px;
}
/*LSIDE stuff*/
div.lside-container{
  padding: 0;
}
.form-check-input {
  margin-left: 0.25rem !important; /*fix weird padding issue*/
}
.flight {
  position: absolute;
  top: 0;
  right: 0;
}
